@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Lato-Bold.svg#svgFontName') format('svg'),
		 url('../fonts/Lato-Bold_1.ttf') format('truetype');
		 }
@font-face {
    font-family: 'Novecentowide-Medium';
    src: url('../fonts/Novecentowide-Medium.eot');
    src: url('../fonts/Novecentowide-Medium.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Novecentowide-Medium.svg#svgFontName') format('svg'),
		 url('../fonts/Novecentowide-Medium.ttf') format('truetype');
		 }	
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Roboto-Light.svg#svgFontName') format('svg'),
		 url('../fonts/Roboto-Light.ttf') format('truetype');
	}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Roboto-Regular.svg#svgFontName') format('svg'),
		 url('../fonts/Roboto-Regular.ttf') format('truetype');
	}				

html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
}
			 
body
{
margin:0;
font-family:"Roboto-Regular";
overflow-x:hidden;
}
img
{
border:0;	
}

.top
{
width:100%;
max-width:1200px;
min-height:50px;
height:auto;
margin:0 auto;
}
.logo-wrap
{
float:left;
display:inline-block;	
-webkit-animation: fadeInLeft 1s;
-moz-animation: fadeInLeft 1s;
-o-animation: fadeInLeft 1s;
animation: fadeInLeft 1s;
}
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}
@-o-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.logo
{
float:left;
margin:25px 10px 25px 15px;	
}
header
{
width:100%;
min-height:70px;
height:auto;
background-color:#F4F8FC;
border-bottom:1px solid #EFEFEF;
border-top:1px solid #EFEFEF;
}
nav
{
width:100%;
max-width:1200px;
height:auto;
margin:0 auto;
text-align:center;
line-height:0;
}
nav ul
{
margin:0;
padding:0;
list-style:none;
text-align:center;
display:inline-block;
margin-left:15px;
margin-right:15px;
}
nav li
{
list-style:none;
float:left;
font-family:"Lato-Bold";
font-size:14px;
color:#3993f0;
position:relative;
line-height:30px;
}
nav li a
{
color:#3993f0;
display:inline-block;
width:145px;
padding:18px 0px 8px;
}
nav li:hover a
{
color:#30d57d;
text-decoration:none;
}
a:focus,a:active 
{
outline:0;
}
nav li.active a
{
color:#30d57d;
text-decoration:none;
}
nav li a span
{
display:block;
text-align:center;
}
nav li a span:nth-child(2)
{
display:none; 	
}
nav li:hover a span:nth-child(2)
{
display:block;
}
nav li:hover a span:nth-child(1)
{
display:none;
}
nav li.active a span:nth-child(1)
{
display:none;
}
nav li.active a span:nth-child(2)
{
display:block;
}
nav li::after 
{
content: "";	
width:1px;	
height:44px;
background-color:#E4E4E4;
position:absolute;
top:27px;
right:0;
}
nav li:last-child::after
{
display:none;
}
.toggle
{
width:100%;
display:none;
}
.toggle span
{
margin-right:15px;	
margin-top:5px;
float:right;
cursor:pointer;
}
.toggle span:nth-child(2)
{
display:none;
}
.toggle:hover span:nth-child(2)
{
display:block;
}
.toggle:hover span:nth-child(1)
{
display:none;
}
.nav-second
{
position:absolute;
top:87px;
left:0px;
width:146px;
display:none;
margin-left:0;
z-index:100;
}
.nav-second li
{
float:none;	
background-color:#30d57d;
font-family:"Lato-Bold";
display:block;
border-top:1px solid #FFFFFF;
}
.nav-second li ul
{
display:block;
margin-left:0;
margin-right:0;
}
.nav-second li ul li
{
border-top:none;
border-bottom:none;
position:relative;
}
.droparrow
{
position:absolute;
top:1px;
right:5px;	
}
.droparrow img
{
width:9px;
height:auto;
}
.nav-second li a
{
background-color:#30d57d;
padding:2px 0px;
width:100%;
color:#FFFFFF !important;
}
.nav-second li ul li:hover a
{
color:#FFF !important;
background-color:#3993f0;
}
.nav-second li.active a
{
color:#FFF !important;
background-color:#3993f0;
}
.nav-second li::after 
{
display:none;
}
.nav-second li a:hover
{
color:#FFF;
border-bottom:none;
}
nav li:hover .nav-second
{
display:inline-block;	
}
.nav-third
{
position:absolute;
top:0px;
left:147px;
width:146px;
display:none !important;
margin-left:0;
z-index:100;
}
.nav-third li ul
{
border-top:1px solid #FFFFFF;	
}
.borders
{
border-bottom:1px solid #FFFFFF !important;
}
.nav-third li ul li a
{
color:#FFF !important;
background-color:#30d57d !important;
}
.nav-third li ul li a:hover
{
color:#FFF !important;
background-color:#3993f0 !important;
}
.nav-second li ul li:hover .nav-third
{
display:inline-block !important;	
}
nav li a::after {
  position: absolute;
  top: 98%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #30d57d;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}
.nav-second li a::after {
display:none;
}
nav li:hover a::after
{
	height: 3px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
nav li.active a::after
{
	height: 3px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
#map 
{
width: 100%;
height: 500px;
float:left;
}
section
{
width: 100%;
min-height:500px;
float:left;
}
.footer-top
{
width:100%;
min-height:50px;
background-color:#606162;
float:left;	
}
.section-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 15px;
}
.footer-point h2
{
color: #45D689;
font-family:"Lato-Bold";
font-size:16px;
text-transform:uppercase;
margin-top:0px;
}
.footer-point p
{
color:#d2d3d4;	
font-size:14px;
}
.social-icons a img
{
margin-right:8px;
margin-top:8px;
}
.social-icons a img:hover
{
opacity:0.8;
}
.submit-sec
{
width:100%;
position:relative;
margin-top:15px;
margin-bottom:15px;
}
.submit-btn
{
width:80px;
height:34px;
background-color:#30d57d;
color:#FFFFFF;
font-size:16px;
display:block;
text-align:center;
line-height:33px;
position:absolute;
top:0;
right:0;
border-top-right-radius:4px;
border-bottom-right-radius:4px;
}
.submit-btn:hover
{
opacity:0.9;
}
.form-control.sub
{
padding-right:90px;	
}
footer
{
background-color:#4c4d4e;
width:100%;
min-height:50px;
color:#d2d3d4;	
font-size:14px;
text-align:center;
float:left;
padding-top:17px;
}
.mar-ad img
{
margin-top:30px;
width:100%;
height:auto;	
}
.tab-head
{
width:100%;
background-image:url(../images/order.png);
background-repeat:no-repeat;
background-position:top left;
height:40px;
margin-top:20px;	
font-size:16px;
color:#FFFFFF;
padding:0 16px;
text-transform:uppercase;
}
.tab-head h3
{
color:#FFFFFF;
font-size:16px;
margin:12px 0 0;
float:left;
}
.tab-head.second
{
background-image:url(../images/sales.png);
}
.tab-head img
{
margin-right:10px;
float:left;
margin-top:9px;
}
.icon-table
{
width:100%;
}
.icon-table td
{
padding:15px 0;	
text-align:center;
color:#aeaeae;
font-size:14px;
}
.icon-table td img
{
margin-bottom:10px;
}
.icons-table td
{
padding:15px 6px;	
text-align:center;
color:#606162;
font-size:14px;
}
.icons-table td:nth-child(1)
{
padding:15px 25px;
border-right:1px solid #aeaeae;
}
.icons-table 
{
width:100%;
}
.icons-table tr
{
border-bottom:1px solid #aeaeae;
}
.icons-table tr:last-child
{
border-bottom:none;
}
.border
{
width:100%;
border:1px solid #aeaeae;
padding:0;
margin-bottom:20px;	
}
.table-tech
{
width:100%;	
border-left:1px solid #aeaeae;
border-right:1px solid #aeaeae;
}
.col-sm-12.pages
{
color:#606162;
font-size:14px;	
margin-top:20px;
}
.col-sm-12.pages span
{
color:#6db4fd;
}
.top-right-section {
  float: right;
  color: #aeaeae;
  font-size: 14px;
  margin-top: 32px;
  margin-right:15px;
}
.top-right-section span {
  padding: 0 10px;
  border-left: 1px solid #b8b7b7;
}
.top-right-section span img {
  border-radius: 100px;
  margin-right:6px;
}
.top-right-section span a {
  color: #59A7F7;
}
.top-right-section span a:hover {
color: #30d57d;
}
.top-right-section span.active a {
color: #30d57d;
}
.top-right-section span:last-child {
 padding-left: 15px;
}
.top-right-section span:first-child {
border-left: none;
}
.tasks
{
width:100%;	
border-bottom:1px solid #aeaeae;
border-left:1px solid #aeaeae;
border-right:1px solid #aeaeae;
}
.tasks table
{
width:100%;	
}
.tasks table th
{
padding:10px 10px;
font-size:14px;
color:#7B7B7B;
font-family:"Lato-Bold";
border-right:1px solid #aeaeae;
}
.tasks table td
{
padding:5px 10px;
font-size:13px;
color:#7B7B7B;
border-top: 1px solid #aeaeae;
border-right:1px solid #aeaeae;
}
.tasks.spec table td
{
border-top: none;
border-right:none;	
padding: 7px 10px;
}
.tasks.spec table th
{
border-right:none;	
border-bottom:1px solid #aeaeae;
padding: 10px;
}
.tasks table th:last-child
{
border-right:none;
}
.tasks table td:last-child
{
border-right:none;
}
.f2-icons
{
margin-right:6px;
margin-top:-4px;	
}
.view:hover
{
 opacity:0.8;	
}
.total
{
color:#606162;
text-decoration:underline;
font-size:15px;	
}
.total-content
{
color:#606162;
font-size:15px;	
}
.gragh-area
{
width:100%;
border:1px solid #aeaeae;
padding:25px;
}
.gragh-area img
{
width:100%;
height:auto;
}
#chartContainer
{
width:100%;
height:320px;	
}
.sidebar-area
{
width:auto;
position:absolute;
top:248px;
right:-250px;
z-index:99999;	
}
.sidebar-area.opens
{
right:0px;
}
.sidebar
{
width:250px;
min-height:400px;
background-color:#FFFFFF;
border:5px solid #439FFA;
float:left;
}
.side-btn
{
float:left;
cursor:pointer;	
border-radius:10px;
}
.side-btn img
{
border-bottom-left-radius:4px;
border-top-left-radius:4px;
}
.side-btn img:hover
{
opacity:0.9;
}
.sidebar ul
{
list-style:none;
margin:0;
padding:15px;
border-bottom:1px solid #30d57d;	
}
.sidebar li
{
width:100%;
background-color:#30d57d;
color:#FFFFFF;
font-size:15px;
text-align:center;
}
.sidebar li a
{
display:block;
color:#FFFFFF;
padding:10px 0;
margin-bottom:1px;
}
.sidebar li:hover
{
background-color:#26EF84;
}
.seperate
{
padding:15px;	
text-align:center;
}
.seperate .form-control
{
text-align:center;
margin-bottom:10px;	
}
.sub-btn
{
display:inline-block;	
}
.sub-btn:hover
{
opacity:0.8;	
}
.side-drop 
{
padding:0 !important;
margin:0 !important;
display:none;
}
.side-drop li
{
background-color:#00C05A;
}
.side-drop li:hover
{
background-color:#06B056;
}
.sidebar li:hover .side-drop{
display:block;
}
.toggle-top
{
width:100%;
display:none;
}
.toggle-top span
{
margin-right:15px;	
margin-top:22px;
float:right;
cursor:pointer;
}
.toggle-top span:nth-child(2)
{
display:none;
}
.toggle-top:hover span:nth-child(2)
{
display:block;
}
.toggle-top:hover span:nth-child(1)
{
display:none;
}
.right-btns
{
float:right;
margin-bottom:18px;
}
.right-btns img
{
margin-left:10px;
}
.right-btns img:hover
{
opacity:0.8;
}
.tool-table
{
width:100%;
border: 1px solid #aeaeae;
margin-top:10px;
}
.tool-table th
{
padding:10px 10px;	
color:#666666;
font-size:14px;
border-right: 1px solid #aeaeae;
}
.tool-table td
{
padding:10px 10px;	
color:#666666;
font-size:14px;
border-right: 1px solid #aeaeae;
}
.tool-table.new td
{
border-top:1px solid #aeaeae;	
}
.tool-table.new input[type=checkbox]
{
width:15px;
height:15px;	
}
.tool-table td a img:hover
{
opacity:0.8;
}
.table-tech.specs
{
padding:20px;	
border-bottom:1px solid #aeaeae;
}
.form-control.mars
{
margin-bottom:10px;	
background-image:url(../images/date.png);
background-position:center right;
background-repeat:no-repeat;
padding-right:27px;
}
.form-control.marc
{
background-image:url(../images/date.png);
background-position:center right;
background-repeat:no-repeat;
padding-right:30px;
}
.se-reset
{
margin-bottom:10px;
float:left;	
}
.form-control.drops
{
width:124px;	
}
.page
{
margin-top:16px;
float:left;
display:inline-block;
}
.page a img
{
margin:0 10px;	
}
.page a img:hover
{
opacity:0.8;	
}
.view-drop
{
margin-top:5px;
float:left;
padding-right:10px;
border-right:1px solid #aeaeae;
min-height:29px;
}
.found
{
margin-top:5px;
float:left;
padding-right:10px;
padding-left:10px;
min-height:29px;
}
.views_section
{
float:right;
display:inline-block;
margin-top:15px;	
}
.view-drop span
{
line-height:25px;
float:left;
}
.form-control.drop
{
width: 74px;
height: 27px;
margin-left: 10px;
float: left;
margin-right:10px;
padding:4px 6px;
}
.found span
{
line-height:25px;
float:left;
}
.sep-bar
{
width:100%;
float:left;	
}
.sidebar-area.inner-pages
{
top:248px;	
}
.sidebar-area.inner-page
{
top:305px;	
}
.hori-form
{
width:100%;	
font-family:"Roboto-Regular";
color:#797979;
font-size:15px;
margin:0 auto;
}
.hori-form td
{
position:relative;
padding:5px; 
}
.form-control.hori
{
height:40px;	
background-repeat:no-repeat;
background-position:right center;
border-radius:0;
color:#989898;
}
.form-control.horiz
{
border-radius:0;
color:#989898;
}
.form-control.horiz option
{
padding:5px 3px;
}
.form-control.hori.fo-icon-1
{
background-image:url(../images/form-icon-1.png);
padding-right: 53px;
}
.form-control.hori.fo-icon-2
{
background-image:url(../images/form-icon-2.png);
padding-right: 53px;
}
.form-control.hori.fo-icon-3
{
background-image:url(../images/form-icon-3.png);
padding-right: 53px;
}
.form-control.hori.fo-icon-4
{
background-image:url(../images/form-icon-4.png);
padding-right: 40px;
}
.form-control.hori.fo-icon-5
{
background-image:url(../images/form-icon-5.png);
padding-right: 40px;
}
.form-control.hori.fo-icon-6
{
background-image:url(../images/form-icon-6.png);
padding-right: 115px;
}
.hor-check
{
width:16px;
height:16px;	
}
.click-icons
{
display:block;
margin:0 auto;
text-align:center;	
}
.fileUpload {
    position: relative;
    overflow: hidden;
	display: inline-block;
}
.fileUpload:hover {
opacity:0.9;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fileUpload span
{
margin-left:8px;	
}
.bot-sep
{
padding-bottom:30px;	
}
.support
{
float:right;
margin-top:10px;	
background-color:#439ffa;
color:#FFF;
font-size:15px;
display:inline-block;
padding:7px 15px 7px;
border-radius:4px;
font-family:"Lato-Bold";
text-transform:uppercase;
-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.50);
-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.50);
box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.50);
}
.support:hover
{
opacity:0.8;	
}
.pending
{
margin-left:15px;	
}
.pending:hover
{
opacity:0.8;	
}
.bd-font
{
font-family:"Lato-Bold";
font-size:16px;
color:#777777;	
margin-right:10px;
}
.ticket
{
width:100%;	
}
.ticket td
{
padding:12px 20px;
color:#777777;
font-size:15px;
border-bottom: 1px solid #aeaeae;
}
.ticket td p
{
margin:0;
}
.ticket-border
{
border-right: 1px solid #aeaeae;
}
.form-control.horizon
{
border-radius:0;
color:#989898;
margin-top:15px;
}
.mar-spec
{
margin-top:15px !important;	
}
.attach
{
float:left;
margin-top:15px;	
background-color:#439ffa;
color:#FFF;
font-size:15px;
display:inline-block;
padding:7px 15px 7px;
border-radius:4px;
font-family:"Lato-Bold";
text-transform:uppercase;
-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.50);
-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.50);
box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.50);
}
.attach-subs
{
margin-top:0px;	
width:85px;
text-align:center;
background-color:#439ffa;
color:#FFF;
font-size:15px;
display:inline-block;
padding:5px 0px 5px;
border-radius:4px;
font-family:"Lato-Bold";
text-transform:uppercase;
-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.50);
-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.50);
box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.50);
}
.attach:hover
{
opacity:0.8;	
}
.attach-subs:hover
{
opacity:0.8;	
}
.attach.sub
{
background-color:#45d689;
margin-left:15px;
padding:7px 40px 7px;	
}
.attach-subs.subs
{
background-color:#45d689;
margin-left:10px;
}
.tic-kt input[type=checkbox] {
  width: 15px;
  height: 15px;
}
.checkbox.tic-kt{
margin-top:20px;
margin-bottom:0;
font-family:"Lato-Bold";
font-size: 16px;
color: #777777;
}
.at-appear
{
display:none;	
}
.profile_box
{
width:100%;
border:1px solid #aeaeae;
min-height:400px;	
margin-top:15px;
text-align:center;
}
.profile_img
{
border-radius:100px;
margin-top:30px;
}
.profile_box h2
{
font-size:20px;
color:#419ffb;	
font-family:"Lato-Bold";
margin-top:15px;
margin-bottom:5px;
}
.profile_box h3
{
font-size:16px;
color:#606162;	
font-family:"Lato-Bold";
margin-top:0px;
margin-bottom:10px;
}
.profile_btn
{
margin-top:15px;
padding: 5px 0px 5px;
font-size: 14px;
}
.profile_box ul
{
margin:40px 0 20px;
padding:0;
list-style:none;	
font-size:15px;
color:#606162;	
font-family:"Lato-Bold";
text-align:left;
}
.profile_box li a
{
color:#606162;	
display:block;	
}
.profile_box li span
{
padding-right:10px;
}
.profile_box li span:nth-child(2)
{
display:none;
}
.profile_box li:hover span:nth-child(1)
{
display:none;
}
.profile_box li:hover span:nth-child(2)
{
display:inline-block;
}
.profile_box li.active span:nth-child(1)
{
display:none;
}
.profile_box li.active span:nth-child(2)
{
display:inline-block;
}
.profile_box li:hover
{
background-color: #ededeb;
}
.profile_box li.active
{
background-color: #ededeb;
}
.profile_box2
{
width:100%;
border:1px solid #aeaeae;
min-height:400px;	
margin-top:20px;
text-align:left;
color:#606162;
padding:10px;
font-size:13px;
}
.profile_box2 h4
{
font-size:15px;
font-family:"Lato-Bold";
}
.profile_box2 ul
{
margin:0;
padding:0;
list-style:none;	
font-size:13px;
color:#606162;	
text-align:left;
}
.profile_box2 li:nth-child(1)
{
background-image:url(../images/p_icon1.png);
background-position:left center;
background-repeat:no-repeat;
text-indent:30px;
line-height:33px;
margin-bottom:2px;
}
.profile_box2 li:nth-child(2)
{
background-image:url(../images/p_icon2.png);
background-repeat:no-repeat;
background-position:left center;
text-indent:30px;
line-height:33px;
margin-bottom:2px;
}
.profile_box2 li:nth-child(3)
{
background-image:url(../images/p_icon3.png);
background-position:left center;
background-repeat:no-repeat;
text-indent:30px;
line-height:33px;
margin-bottom:2px;
}
.profile_box2 li:nth-child(4)
{
background-image:url(../images/p_icon4.png);
background-repeat:no-repeat;
background-position:left center;
text-indent:30px;
line-height:33px;
margin-bottom:2px;
}
.profile_box2 li:nth-child(5)
{
background-image:url(../images/p_icon5.png);
background-position:left center;
background-repeat:no-repeat;
text-indent:30px;
line-height:33px;
margin-bottom:2px;
}
.profile_box2 li:nth-child(6)
{
background-image:url(../images/p_icon6.png);
background-repeat:no-repeat;
background-position:left center;
text-indent:30px;
line-height:33px;
margin-bottom:2px;
}
.profile_box2 li:nth-child(7)
{
background-image:url(../images/p_icon7.png);
background-repeat:no-repeat;
background-position:left center;
text-indent:30px;
line-height:33px;
margin-bottom:2px;
}
.profile_box2 li a
{
color:#439ffa !important;
}
.social-p a
{
margin:0 20px 0 0;	
}
.social-p a:hover
{
opacity:0.7;	
}
.profile_top
{
width:100%;
min-height:50px;
background-color:#ededeb;
margin-top:15px;
border-bottom:1px solid #aeaeae;
}
.profile_top_left
{
min-height:50px;
background-image:url(../images/profile_icons.png);
background-repeat:no-repeat;
background-position:left center;
line-height:50px;
text-indent:75px;
font-family:"Novecentowide-Medium";
font-size:16px;
color:#439ffa;
float:left;
}
.profile_top_right
{
float:right;
}
.profile_top_right ul
{
float:left;
color:#606162;
margin:0;
list-style:none;
padding:0;
}
.profile_top_right li
{
float:left;
color:#606162;
margin-left:3px;
min-height:47px;
line-height:48px;
border-bottom:2px solid #439ffa;
font-family:"Novecentowide-Medium";
padding:0 8px;
font-size:14px;
cursor:pointer;
}
.profile_top_right li:first-child
{
margin-left:0;
}
.profile_top_right li:hover 
{
background-color:#30d57d;
color:#FFFFFF;
}
.profile_top_right li.active
{
background-color:#30d57d;
color:#FFFFFF;
}
.profile_bottom
{
width:100%;
height:400px;
background-color:#ededeb;
padding:15px;
overflow:auto;
}
.slider_redesign
{
width:100%;
padding:15px;
border-bottom:2px solid #439ffa;
min-height:100px;	
position:relative;
float:left;
margin-bottom:15px;
}
.slider_redesign.green
{
border-bottom-color:#30d57d;	
}
.redesign_img
{
position:absolute;
border-radius:100px;
top:5px;
left:10px;
}
.side_adj
{
width:100%;
padding-left:45px;	
}
.side_adj h2
{
font-size:16px;
font-family:"Lato-Bold";	
color:#606162;
margin-top:0;
margin-bottom:10px;
}
.side_adj p
{
font-size:15px;
color:#606162;
margin-top:0;
margin-bottom:8px;
}
.date_edit
{
width:100%;	
}
.dates
{
font-size:15px;
color:#606162;
float:left;
background-image:url(../images/profile_date.png);
background-repeat:no-repeat;
background-position:left center;
text-indent:26px;
}
.edit_delete
{
float:right;	
}
.edit_delete a
{
margin-left:10px;	
}
.edit_delete a:hover
{
opacity:0.8;	
}
.notes
{
width:100%;
min-height:400px;
border: 1px solid #aeaeae;
margin-top: 20px;
text-align: left;
color: #606162;
font-size: 13px;
}
.notes ul
{
width:100%;
margin:0;
padding:0;
list-style:none;	
}
.notes li
{
float:left;
border-bottom: 2px solid #439ffa;	
font-family:"Novecentowide-Medium";
width:143px;
text-align:center;
color: #606162;
font-size:14px;
line-height:50px;
margin-left:2px;
cursor:pointer;
}
.notes li:hover 
{
background-color:#30d57d;
color: #FFFFFF;
}
.notes li.active 
{
background-color:#30d57d;
color: #FFFFFF;
}
.notes li:nth-child(1)
{
margin-left:0%;
}
.new_notes h3
{
font-size:16px;
font-family:"Lato-Bold";	
color:#606162;
margin-top:10px;
}
.new_notes 
{
width:100%;
padding:0 10px;
}
.text_box
{
width:100%;
height:45px;
border-radius:4px;
border:none;
outline:0;
background-color:#f0f0ed;
padding:15px;
}
.text_area
{
width:100%;
max-height:200px;
max-width:100%;
height:200px;
border-radius:4px;
border:none;
outline:0;
background-color:#f0f0ed;
padding:15px;
margin-top:20px;
}
.table-tech.specs.note
{
border:none;
margin-top:0px;
float: left;
}
.side_adj.second
{
padding-left:0;	
}

.side_adj.second .dates
{
color:#439ffa;	
background-image:none;
text-indent:0;
}
.tasks.profile
{
background-color:#FFFFFF;	
border: 1px solid #aeaeae;
}
.tasks.profile table th
{
font-size:16px;
font-family:"Lato-Bold";
padding: 12px 10px;
}
.tasks.profile table td
{
font-size:15px;
padding: 12px 10px;
}
.tasks.profile table th:last-child
{
background-color:#F4F4F4;
}
.tasks.profile table td:last-child
{
background-color:#F4F4F4;
width:160px;
}
.views:hover
{
opacity:0.8;	
}
.login_footer
{
position:fixed;
bottom:0;	
}
.login_box
{
width:100%;
max-width:500px;	
margin:100px auto 0px;
border:1px solid #4c4d4e;
min-height:200px;
padding:12px 20px;
}
.login_box_footer
{
width:100%;
max-width:500px;	
margin:0px auto 80px;
height:60px;
background-color:#4c4d4e;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
color:#FFFFFF;
font-family:"Novecentowide-Medium";
font-size:17px;
text-align:center;
line-height:58px;
}
.login_box h2
{
color:#439ffa;
font-family:"Novecentowide-Medium";
font-size:25px;
text-align:center;
margin-top:0;
margin-bottom:20px;
}
.form-control.logins
{
margin-top:20px;	
height:45px;
}
.login_btn
{
float:left;
margin-top:20px;	
}
.login_btn:hover
{
opacity:0.8;
}
.sub_btn
{
float:left;
margin-top:5px;
margin-right:10px;	
margin-bottom:5px;
}
.sub_btn:hover
{
opacity:0.8;
}
.checkbox.logins
{
float:left;
margin-top:26px;
margin-left:20px;
font-family:"Lato-Bold";
font-size:16px;
color:#606162;	
}
.checkbox.logins input
{
width:15px;
height:15px;	
}
.forgot
{
float:left;
margin-top:26px;
margin-left:20px;
font-family:"Lato-Bold";
font-size:16px;
color:#439ffa;		
}
.forgot:hover
{
opacity:0.8;	
}
.login_box p
{
font-size:14px;
color:#606162;
margin-bottom:10px;
float:left;
}
input[type=checkbox], input[type=radio] {
  margin: 2px 0 0;
}
.login_box.sign
{
margin-top:30px;
margin-bottom:80px;	
}
.person
{
margin-top:20px;	
}
.login_box.sign .checkbox input
{
width:16px;
height:16px;	
}
.login_box.sign .checkbox
{
margin-top:16px;
font-family:"Lato-Bold";
font-size:14px;
color: #606162;
}
.login_box_footer a
{
color:#FFFFFF;
display:block;
}
.login_box_footer a:hover
{
color:#BBBBBB;	
}
.tasks.profile .views
{
border-right:1px solid #999999;
padding-right:5px;
}
.views
{
margin:0 4px;	
}
.tasks.profile .views.specs
{
border-right:none;
padding-right:0px;	
}
.alert strong
{
font-family:"Lato-Bold";
font-size:14px;	
}
.alert {
  padding: 12px;
}
.sticky-footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#page
{
width:100%;
float:left;	
}
.form-control.pro
{
margin-top:10px;	
}
.profile_box2.boxs
{
padding-top:20px;
padding-bottom:20px;	
}
.attach-subs.prof
{
margin-top:12px;	
}
.sub_btn.forg
{
margin-top:13px;	
}
.sidebar-2 {
  width: 250px;
  min-height: 400px;
  background-color: #FFFFFF;
  border: 5px solid #439FFA;
  float: left;
}
.profile_box2.sides
{
border:none;
margin-top:0;	
}
.profile_box.sides
{
border:none;
margin-top:0;	
}
.profile_box.sides ul
{
margin-top:0;	
}
.login_btn img
{
height:auto;
width:101px;
}
.sub_btn.forg img,.sub_btn img
{
height:auto;
width:101px
}
.nav-second.right_side .nav-third 
{
right:147px !important;
left:auto !important;	
}
.nav-second.right_side .droparrow {
right: auto;
left:5px;
transform: rotate(180deg);
top:4px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
background-color: #46A2FA !important;
border-color: #4AA4F9 !important;
}
.pagination {
margin: 0px 14px 0px 0;
}